<nav class="nav flex-column">
    <h5>1. Getting Started</h5>
    <a class="nav-link" href="/docs/1.1.-Installation.html">
        1.1. Installation
    </a>

    <h5>2. Working the Admin</h5>
    <a class="nav-link" href="/docs/2.1.-Creating-a-Schema.html">
        2.1. Creating a Schema
    </a>
    <a class="nav-link" href="/docs/2.2.-Populating-Models.html">
        2.2. Populating Models
    </a>
    <a class="nav-link" href="/docs/2.3.-Working-With-Relations.html">
        2.3. Working With Relations
    </a>
    <a class="nav-link" href="/docs/2.4.-Adding-Menu-Items.html">
        2.4. Adding Menu Items
    </a>
    <a class="nav-link" href="/docs/2.5.-Roles-&-Permissions.html">
        2.5. Roles &amp; Permissions
    </a>
    <a class="nav-link" href="/docs/2.6.-Creating-a-Fieldset.html">
        2.6. Creating a Fieldset
    </a>
    <a class="nav-link" href="/docs/2.7.-Monitoring-Changes.html">
        2.7. Monitoring Changes
    </a>
    <a class="nav-link" href="/docs/2.8.-Setting-up-the-API.html">
        2.8. Setting up the API
    </a>
    <a class="nav-link" href="/docs/2.A.-Reference-Field-Types.html">
        2.A. Reference: Field Types
    </a>
    <a class="nav-link" href="/docs/2.B.-Reference-Validation-Types.html">
        2.B. Reference: Validation Types
    </a>
    <a class="nav-link" href="/docs/2.C.-Reference-Format-Types.html">
        2.C. Reference: Format Types
    </a>
    <a class="nav-link" href="/docs/2.D.-Reference-Indexes-&-Relations.html">
        2.D. Reference: Indexes &amp; Relations
    </a>

    <h5>3. Server Operations</h5>
    <a class="nav-link" href="/docs/3.1.-Services-&-Settings.html">
        3.1. Services &amp; Settings
    </a>
    <a class="nav-link" href="/docs/3.2.-Setting-up-the-Email.html">
        3.2. Setting up the Email
    </a>
    <a class="nav-link" href="/docs/3.3.-Setting-up-the-Queue.html">
        3.3. Setting up the Queue
    </a>
    <a class="nav-link" href="/docs/3.4.-Working-with-Files.html">
        3.4. Working with Files
    </a>
    <a class="nav-link" href="/docs/3.5.-Setting-up-the-Cache.html">
        3.5. Setting up the Cache
    </a>
    <a class="nav-link" href="/docs/3.6.-Setting-up-the-Index.html">
        3.6. Setting up the Index
    </a>
    <a class="nav-link" href="/docs/3.7.-Setting-up-Docker.html">
        3.7. Setting up Docker
    </a>
    <a class="nav-link" href="/docs/3.8.-Deploying-a-Project.html">
        3.8. Deploying a Project
    </a>
    <a class="nav-link" href="/docs/3.A.-Reference-Cradle-on-Shared-Hosts.html">
        3.A. Reference: Cradle on Shared Hosts
    </a>
    <a class="nav-link" href="/docs/3.B.-Reference-Command-Line-Tools.html">
        3.B. Reference: Command Line Tools
    </a>
    <a class="nav-link" href="/docs/3.C.-Reference-Architecture-Recommendations.html">
        3.C. Reference: Architecture Recommendations
    </a>

    <h5>4. Developing</h5>
    <a class="nav-link" href="/docs/4.1.-Developing-the-Front-End.html">
        4.1. Developing the Front End
    </a>
    <a class="nav-link" href="/docs/4.2.-Writing-a-Package.html">
        4.2. Writing a Package
    </a>
    <a class="nav-link" href="/docs/4.3.-Intro-to-Storm-ORM.html">
        4.3. Intro to Storm ORM
    </a>
    <a class="nav-link" href="/docs/4.4.-Intro-to-Handlebars-Templating.html">
        4.4. Intro to Handlebars Templating
    </a>
    <a class="nav-link" href="/docs/4.5.-Intro-to-Doon-&-Acquire.html">
        4.5. Intro to Doon & Acquire
    </a>
    <!--
    <a class="nav-link" href="/docs/4.6.-i18n-&-l10n.html">
        4.6. i18n &amp; l10n
    </a>
    <a class="nav-link" href="/docs/4.7.-Pre-&-Post-Processors.html">
        4.7. Pre &amp; Post Processors
    </a>
    <a class="nav-link" href="/docs/4.8.-Cradle-as-a-Command-Line.html">
        4.8. Cradle as a Command Line
    </a>
    <a class="nav-link" href="/docs/4.9.-Writing-Tests.html">
        4.9. Writing Tests
    </a>
    -->
    <a class="nav-link" href="/docs/4.A.-Reference-Events.html">
        4.A. Reference: Events
    </a>
    <a class="nav-link" href="/docs/4.B.-Reference-Handlebars-Helpers.html">
        4.B. Reference: Handlebars Helpers
    </a>
    <a class="nav-link" href="/docs/4.C.-Reference-Doon-Interfaces.html">
        4.C. Reference: Doon Interfaces
    </a>
    <a class="nav-link" href="/docs/4.D.-Reference-Global-Package-Methods.html">
        4.D. Reference: Global Package Methods
    </a>

    <h5>5. Concepts</h5>
    <a class="nav-link" href="/docs/5.1.-Events.html">
        5.1. Events
    </a>
    <a class="nav-link" href="/docs/5.2.-Routing.html">
        5.2. Routing
    </a>
    <a class="nav-link" href="/docs/5.3.-Middleware.html">
        5.3. Middleware
    </a>
    <a class="nav-link" href="/docs/5.4.-Request.html">
        5.4. Request
    </a>
    <a class="nav-link" href="/docs/5.5.-Response.html">
        5.5. Response
    </a>
    <a class="nav-link" href="/docs/5.6.-Model.html">
        5.6. Model
    </a>
    <a class="nav-link" href="/docs/5.7.-Collection.html">
        5.7. Collection
    </a>
    <a class="nav-link" href="/docs/5.8.-Registry.html">
        5.8. Registry
    </a>

    <h5>6. Traits</h5>
    <a class="nav-link" href="/docs/6.1.-Data-Traits.html">
        6.1. Data Traits
    </a>
    <a class="nav-link" href="/docs/6.2.-Helper-Traits.html">
        6.2. Helper Traits
    </a>
    <a class="nav-link" href="/docs/6.3.-Profiler-Traits.html">
        6.3. Profiler Traits
    </a>
    <a class="nav-link" href="/docs/6.4.-Resolver-Traits.html">
        6.4. Resolver Traits
    </a>

    <h5>7. Extras</h5>
    <a class="nav-link" href="/docs/7.1.-Storm-ORM.html">
        7.1. Storm ORM
    </a>
    <a class="nav-link" href="/docs/7.2.-Handlebars-Template-Engine.html">
        7.2. Handlebars Template Engine
    </a>
    <a class="nav-link" href="/docs/7.3.-cURL.html">
        7.3. cURL
    </a>
    <a class="nav-link" href="/docs/7.4.-Image.html">
        7.4. Image
    </a>
    <a class="nav-link" href="/docs/7.A.-Reference-i18n.html">
        7.A. Reference: i18n
    </a>

    <h5>Notes</h5>
    <a class="nav-link" href="/docs/changelog.html">
        Changelog
    </a>
    <a class="nav-link" href="/docs/upgrading.html">
        Upgrading
    </a>
    <a class="nav-link" href="/docs/contributing.html">
        Contributing
    </a>
    <a class="nav-link" href="/docs/license.html">
        MIT License
    </a>
</nav>
